// application.scss

  $navbar-inverse-bg: #5B0013;
  $logo-image: image_url('block-m.svg') !default;
  $link-color: #7a0019;
  $btn-default-bg: #FFDE7A;
  $btn-default-border: #FFDE7A;
  $btn-primary-color: #fff;
  $btn-primary-bg: #7a0019;
  $state-success-text: #900021;
  $brand-danger: #900021;
  $pagination-active-bg: #FFDE7A;
  $pagination-active-border: transparent;


@import 'bootstrap-sprockets';

@import 'bootstrap';

@import 'blacklight/blacklight';
@import 'blacklight_marc';

.blacklight-cited {
  font-style: italic;
}

.btn-no-style {
  border:none;
  background: transparent;
  :focus {
    outline: 0;
  }
}


#documents .doc-title-heading {font-size:150%;margin-bottom:0;}

#header-navbar {
  a {color: #fff;}
  .navbar-brand {  /* The main logo image for the Blacklight instance */
    width: 290px;
    @if $logo-image {
      background: transparent $logo-image no-repeat left;
      background-size: auto 40px !important;
    }
  }
}


h1 {font-size: 24px;}

.icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  stroke-width: 0;
  stroke: currentColor;
  fill: $text-muted;
  padding-right: 10px;
}

.fs0 {
  font-size: 16px;
}
.fs1 {
  font-size: 32px;
}


.toggle_bookmark {
  z-index: 5;
  input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px; }
}
 
.rise {top: -17px;}

.present {background-color:$navbar-inverse-bg;}

.absent {background-color:$link-color;}


