// application.scss

  $navbar-inverse-bg: #5B0013;
  $logo-image: image_url('block-m.svg') !default;
  $link-color: #7a0019;
  $btn-default-bg: #FFDE7A;
  $btn-default-border: #FFDE7A;
  $btn-primary-color: #FFDE7A;
  $btn-primary-bg: #7a0019;
  $state-success-text: #FFB71E;
  $brand-danger: #900021;


@import 'bootstrap-sprockets';

@import 'bootstrap';

@import 'blacklight/blacklight';
@import 'blacklight_marc';


#documents .doc-title-heading {font-size:150%;margin-bottom:0;}

#header-navbar {
  a {color: #FFDE7A;}
  .navbar-brand {  /* The main logo image for the Blacklight instance */
    width: 290px;
    @if $logo-image {
      background: transparent $logo-image no-repeat left;
      background-size: auto 40px !important;
    }
  }
}

h1 {font-size: 24px;}
